div {
    border: 1px solid black;
    background-color: rgb(109, 195, 166);
    padding: 10px;
    margin: 10px
}

#redDiv{
    color: red;
    margin-top: 40px;
    height: 200px;
    width: 50px;
}

.heading {
    font-family: cursive;
    font-weight: 500;
    color: green;
}

body {
    margin: 0px
}

.flexClass{
    display:flex;
}

@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}

/* comment one line */
